---
Checks: >-
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-nodiscard,
  -modernize-use-using,
  -modernize-use-std-numbers,
  performance-*,
  -performance-enum-size,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
HeaderFilterRegex: '.*([\\/])(src|include|tests)([\\/]).*'
